/node_modules
/.next/dev/cache
/.next/dev
/.next
/.next
/.next
/.next/dev/cache
/.next
/00_Dokumentation
/01_Context
/03_Patch
.next/dev/cache/turbopack/dc98c04f/CURRENT
.next/dev/cache/turbopack/dc98c04f/CURRENT
.next/dev/cache/turbopack/dc98c04f/LOG
.next/dev/lock
.next/dev/trace
